#NoDrag {
  -webkit-app-region: no-drag;
}

#Drag {
  -webkit-app-region: drag;
}

#offButton {
  margin: 10;
}

.link {
  color: #61dafb;
}

.App {
  text-align: center;
}

.Header {
  background-color: #5e6167;
  margin: 10;
}

#headerText {
  font-size: 4em;
  font-weight: bold;
  color: #282c34;
}

.Body {
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 5px solid rgb(78, 69, 126);
}

.Input {
  width: 90vw;
}

.Output {
  width: 90vw;
}

.OutputItem {
  color: black;
}

.Footer {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}
