#NoDrag {
  -webkit-app-region: no-drag;
}

#Drag {
  -webkit-app-region: drag;
}

#offButton {
  margin: 10;
}

.link {
  color: #61dafb;
}

#headerText {
  font-size: 4em;
  font-weight: bold;
  color: white;
}

.OutputItem {
  color: black;
}

.Footer {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}
